<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/rest"
            class="org.condast.wph.rest.RestServlet"
            load-on-startup="true">
        <init-param name="javax.ws.rs.Application"
    			    value="org.condast.wph.rest.RestApplication">
		</init-param>
      </servlet>
   </extension>
</plugin>
